pkg/
src/
bin/

**.pyc
**-Log.txt

**.npy
**.csv

**/cifar-10-batches-py/**
**/cifar-10-python.tar.gz

DistSys/LogFiles*
DistSys/DistSys
DistSys/*.json
DistSys/peersfile.txt

FedSys/LogFiles*
FedSys/FedSys

azure-deploy/peersFileSent
*.log

*.idea
*venv/
*globalips.txt
*myip.txt